<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <filter>
        <filter-name>DispatchFilter</filter-name>
        <filter-class>trongns.filter.DispatchFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>DispatchFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <listener>
        <description>ServletContextListener</description>
        <listener-class>trongns.lsitener.MyContextListener</listener-class>
    </listener>
    <servlet>
        <servlet-name>CreateAnAccountServlet</servlet-name>
        <servlet-class>trongns.servlet.CreateAnAccountServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>trongns.servlet.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadHomeByRoleServlet</servlet-name>
        <servlet-class>trongns.servlet.LoadHomeByRoleServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewQuestionServlet</servlet-name>
        <servlet-class>trongns.servlet.ViewQuestionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchQuestionServlet</servlet-name>
        <servlet-class>trongns.servlet.SearchQuestionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateQuestionServlet</servlet-name>
        <servlet-class>trongns.servlet.CreateQuestionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateQuestionServlet</servlet-name>
        <servlet-class>trongns.servlet.UpdateQuestionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteQuestionServlet</servlet-name>
        <servlet-class>trongns.servlet.DeleteQuestionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateQuizServlet</servlet-name>
        <servlet-class>trongns.servlet.UpdateQuizServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewSubjectServlet</servlet-name>
        <servlet-class>trongns.servlet.ViewSubjectServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AttemptQuizServlet</servlet-name>
        <servlet-class>trongns.servlet.AttemptQuizServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SubmitQuizServlet</servlet-name>
        <servlet-class>trongns.servlet.SubmitQuizServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowHistoryServlet</servlet-name>
        <servlet-class>trongns.servlet.ShowHistoryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchHistoryServlet</servlet-name>
        <servlet-class>trongns.servlet.SearchHistoryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>trongns.servlet.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateSubjectServlet</servlet-name>
        <servlet-class>trongns.servlet.CreateSubjectServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CreateAnAccountServlet</servlet-name>
        <url-pattern>/CreateAnAccountServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadHomeByRoleServlet</servlet-name>
        <url-pattern>/LoadHomeByRoleServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewQuestionServlet</servlet-name>
        <url-pattern>/ViewQuestionServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchQuestionServlet</servlet-name>
        <url-pattern>/SearchQuestionServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateQuestionServlet</servlet-name>
        <url-pattern>/CreateQuestionServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateQuestionServlet</servlet-name>
        <url-pattern>/UpdateQuestionServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteQuestionServlet</servlet-name>
        <url-pattern>/DeleteQuestionServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateQuizServlet</servlet-name>
        <url-pattern>/UpdateQuizServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewSubjectServlet</servlet-name>
        <url-pattern>/ViewSubjectServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AttemptQuizServlet</servlet-name>
        <url-pattern>/AttemptQuizServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SubmitQuizServlet</servlet-name>
        <url-pattern>/SubmitQuizServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowHistoryServlet</servlet-name>
        <url-pattern>/ShowHistoryServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchHistoryServlet</servlet-name>
        <url-pattern>/SearchHistoryServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/LogoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateSubjectServlet</servlet-name>
        <url-pattern>/CreateSubjectServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            720
        </session-timeout>
    </session-config>
    <resource-ref>
        <res-ref-name>QuizOnline</res-ref-name>
        <res-type>javax.sql.DataSource</res-type>
        <res-auth>Container</res-auth>
        <res-sharing-scope>Shareable</res-sharing-scope>
    </resource-ref>
    <context-param>
        <param-name>log4j-config-location</param-name>
        <param-value>WEB-INF/log4j.properties</param-value>
    </context-param>
</web-app>
